@import "../../styles/_mixins";
@import "../../styles/_variables";
    
.product {
    &__container {
        @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: flex-start, $align-items: stretch, $gap-x: 0, $gap-y: 0);
    }
    &__nav {
        @include flex(1, 0, 100%);
       font-size: $secondary-body;
       margin-bottom: 32px;
        
    }
    &__header {
        @include flex(1, 0, 100%);
        @include title-font;
        text-align: left;
        padding: 0;
        margin-bottom: 12px;
    }
    
    &__subtitle {
        @include flex(1, 0, 100%);
        font-family: $header-font;
        font-size: $quote;
        color: $midnightblue;
        text-transform: uppercase;
        margin-bottom: 12px;
        
        &--lowercase {
            @include flex(1, 0, 100%);
            font-family: $header-font;
            font-size: $quote;
            color: $midnightblue;
            text-transform: none;
            margin-bottom: 56px;
        }
    }
    &__subtitle:nth-of-type(2), &__subtitle:nth-of-type(3) {
        margin-bottom: 32px;
        @include flex(0, 0, 50%);
    }
    &__button {
        @include flex(0, 0, auto);
        min-width: 260px;
        max-width: 300px;
        @include button ($padding-top-bottom: 6px, $padding-left-right: 16px,  $background-color: $defaultStateButtonColor, $color: $midnightblue, $text-transform: none, $font-size: $large-body );
        margin-right: 5%;
        &:hover {
            background-color: $late; 
            box-shadow: 0px 2px 2px #00000029;
            
        } 
    }

   
    
}
    
    