@import "../../styles/_mixins";
@import "../../styles/_variables";
    

.loading {
    @include flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 5px, $gap-y: 0);
    width: 100%;
    margin-bottom: 150px;
    &__image {
       width: 300px;
       height: auto; 
    }
    &__alt {
        color: $late;
    }
    &__text {
        margin-top: 150px;
        font-size: $large-body;
        text-transform: uppercase;
    }
}