@import "../../styles/_mixins";
@import "../../styles/_variables";
    
.buttonLink{
    @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 20px, $gap-y: 20px);
    @include button(16px, 16px, $defaultStateButtonColor, none, $large-body);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover{
        background-color: $late;
        box-shadow: $box-shadow;
    }

   
}
    