$screen-width: 70vw;

$header-font:'Tenor Sans', sans-serif;
$main-font: 'Poppins', sans-serif;
$nav-font: 'Quicksand', sans-serif;
$font-size: 10px;
$headline: #{$font-size * 4.9};
$title: #{$font-size * 3.9};
$quote: #{$font-size * 2.5};
$large-body: #{$font-size * 2};
$body: #{$font-size * 1.6};
$secondary-body: #{$font-size * 1.28};

$midnightblue: #14213d;
$warm-gray: #C9B194;
$white: #fff;
$image-background: #E4E4E4;
$late: #C5AD8F;




$padding: ('main-side': 0 5%, 'icon': 20px 20px, 'card': 0 41px);



