$screen-width: 70vw;
$nav-height: 82px;

$header-font:'Tenor Sans', sans-serif;
$main-font: 'Poppins', sans-serif;
$nav-font: 'Quicksand', sans-serif;
$font-size: 10px;
$headline: #{$font-size * 4.9};
$title: #{$font-size * 3.9};
$quote: #{$font-size * 2.5};
$large-body: #{$font-size * 2};
$body: #{$font-size * 1.6};
$secondary-body: #{$font-size * 1.28};

$midnightblue: #14213d;
$defaultButtonColor: #2E3952;
$warm-gray: #C9B194;
$white: #fff;
$image-background: #E5E5E5;
$late: #C5AD8F;
$defaultStateButtonColor: #D1BFA7;
$chocolate: #413A34;

$image-width: 648px;
$margin-left: calc(((100vw * 0.65) - $image-width) / 2);



$padding: ('main-side': 0 5%, 'icon': 20px 20px, 'card': 0 41px);



