@import "../../styles/_mixins";
@import "../../styles/_variables";
   
#howToBuy {
    width: 100%;
    @include flex-parent ;
}
.howToBuy{
    @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: flex-end, $align-items: center, $gap-x: 64px, $gap-y: 95px);
    margin: 50px 0;
    max-width: 927px;
    @include tablet{
        @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 64px, $gap-y: 95px);
        @include flex(0, 0, 90%);  
        margin: 50px 5%;
    }
    @include mobile{
        @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 64px, $gap-y: 95px);
        @include flex(0, 0, 90%);  
        margin: 50px 5%;
    }
   
    
    &__header {
        @include flex(1, 0, 100%);
        @include title-font;
    }
    &__img {
        @include flex(0, 0, 20%);
      
    }
    &__paragraph {
        @include paragraph-font;
        @include flex(0, 0, 50%);
        @include flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: center, $align-items: flex-start, $gap-x: 30px, $gap-y: 0);
        @include tablet{
            @include flex(1, 0, 100%);
            @include flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 30px, $gap-y: 0);  
        }
        @include mobile{
            @include flex(1, 0, 100%);  
            @include flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 30px, $gap-y: 0);  
        }

    }
    &__ul {
        height: 75px;
        list-style-type: disc;
        list-style-position: inside;
        & > * {
            padding-left: 10px;
        }
        
    }
 

    &__button {
        font-size: $large-body;
        &:hover{
            @include button-hover
        }
        @include tablet {
            justify-self: flex-end;
            margin-right: 5%;
        }
        @include mobile {
            @include flex (0, 0, 90%);
            font-size:$body;
            height: 56px;
        }
    }
    &__reference {
        &__header {
            @include flex(1, 0 , 100%);
            @include title-font;
            margin-bottom: 0;
        }
    }      
}
    

.full-width {
    @include flex(1, 0, 100%);
    
   
}


