@import "../../styles/_mixins";
@import "../../styles/_variables";
    
.contactMe{
    @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0);
    height: auto;
    @include tablet {
        margin-bottom: 24px;
    }
    @include mobile {
        margin-bottom: 24px;
    }
    & > header {
        width: 100%;
    }
    
    &__header {
        @include flex(1, 0, 100%);
        @include title-font;
        margin-bottom: 33px;
      
    }
    &__container {
        @include flex(0, 0, 50%);
        @include flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 50px);
        height: 50vh;
        
        @include tablet {
            @include flex(0, 0, 70%);
            @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0);
            height: 40vh;
        }
        @include mobile {
            @include flex(0, 0, 90%);
            @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0);
            height: 40vh;
        }
    }
    &__article {
        @include flex(0, 0, 100%);
        @include paragraph-font;
        @include flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: flex-start, $align-items: flex-start, $gap-x: 10px, $gap-y: 30px);
        &:first-child {
            width: 500px;
            @include tablet {
            order: 2;    
            }
            @include mobile{
                order: 2; 
                width: auto;   
                }
        }
        &:last-child {
            width: 250px; 
            @include tablet {
                order: 1;  
                @include flex(0, 0, 250px);
            }
            @include mobile {
                order: 1;  
                @include flex(0, 0, 250px);
            }
        }
        & > * {
            @include flex(0, 1, 25%);
        }
        @include tablet {
            justify-content: center;
            align-items: center;
            @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: flex-start, $align-items: flex-start, $gap-x: 20px, $gap-y: 30px);
        }
        @include mobile {
            justify-content: center;
            align-items: center;
            @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: flex-start, $align-items: flex-start, $gap-x: 20px, $gap-y: 30px);
        }
        
    }

    &__contact-detail {
        @include flex(0, 0, 10%);
        cursor: pointer;
        &:hover{
            color: $late
        }
        @include tablet {  
            @include flex(1, 0, 100%); 
        }
        @include mobile {  
            @include flex(1, 0, 100%); 
        }
    }
    &__paragraph {
        @include tablet {  
            @include flex(1, 0, 100%); 
        }
        @include mobile {  
            @include flex(1, 0, 100%); 
        }
    }
    &__button {
        max-width: 40px;
        margin-right: 24px;
    }
    &__button svg path{
        fill: $midnightblue;
        &:hover{
            fill: $late
        }
    }
    &__button:hover svg path{
        fill: $late
    }
}
    
    