@import "../../styles/_mixins";
@import "../../styles/_variables";

.navigation {
  @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: space-between,$align-items: center, $gap-x: 0, $gap-y: 0);
  height: $nav-height;
  text-transform: uppercase;
  background-color: $midnightblue;
  color: $white;
  padding: map-get($padding, 'main-side');
  position: fixed;
  width: 100vw;
  z-index: 5;
  &__icon {
    transition: all 0.3s ease 0s;
  }
  &--logo {
    font-family: $header-font;
    color: $warm-gray;
    font-size: $large-body;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $white
    }
  }
  &--menu {
    font-size: $body;
    font-family: $nav-font;
    @include flex-parent(flex, row, no-wrap,center, center, 0, 45px);
  }
  &--menu__button {
    @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: space-around,$align-items: center, $gap-x: 0, $gap-y: 10px);
    padding: map-get($padding, nav-element);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $late;
    }
    
  }
}


