@import "../../styles/_mixins";
@import "../../styles/_variables";

.navigation {
  @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: space-between,$align-items: center, $gap-x: 0, $gap-y: 0);
  height: $nav-height;
  text-transform: uppercase;
  background-color: $midnightblue;
  padding: map-get($padding, 'main-side');
  position: fixed;
  width: 100vw;
  z-index: 5;
  &__icon {
    transition: all 0.3s ease 0s;
    
  }
  &--logo {
    font-family: $header-font;
    color: $warm-gray;
    font-size: $large-body;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $white
    }
  }
  &--menu {
    color: $white;
    font-size: $body;
    font-family: $nav-font;
    @include flex-parent(flex, row, nowrap,center, center, 0, 45px);
    transition: all 0.3s ease 0s;
    &__icon {
      @include mobile {
          transform:  rotate(-90deg);
      }
    }
    @include mobile {
      background-color: $white;
      color: $midnightblue;
      font-size: $large-body;
      font-family: $nav-font;
      position: fixed;
      top: $nav-height;
      left: 0;
      @include flex-parent(none, column, wrap, center, flex-start, 0, 0);
      width: 100%;
    }
  }
  &--hamburger__icon{
    color: $late;
    display: none;
    &:hover {
      color: $white;
    }
    @include mobile {
      display: flex;
      &:focus {
        color: $white;
      }
    }
  }

  &--menu__button {
    @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: space-around,$align-items: center, $gap-x: 0, $gap-y: 10px);
    padding: map-get($padding, nav-element);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $late;
    }
    @include mobile {
      padding: 0 5%;
      width: 100%;
      height: 40px;
      border-bottom: 2px solid $late;
      justify-content: space-between;
      align-items: center;
      
    }
    
  }
}

.navigation--hamburger__icon:hover .navigation--menu {
  display: flex !important;
  
}


.no-display {
  display: none !important;
  
}

.display{
  display: none ;
  @include mobile {
    display: flex
  }
  
}