@import "../../styles/_mixins";
@import "../../styles/_variables";
    
.dropdown-menu{
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    width: 120px;
    height: auto;
    @include flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: center, $align-items: flex-start, $gap-x: 5px, $gap-y: 0);
    padding: 16px 0 16px 16px;
    background-color: $midnightblue;
    transition: all 0.5s ease-in;
    opacity: 0;
    @include mobile {
        opacity: 1;
        bottom: 0;
        width: 100%;
        height: auto;
        @include flex-parent($display: none, $direction: column, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0);
        padding: 0;
        background-color: $white;
        transition: all 0.5s ease-in;
        &__button{
            @include flex-parent;
            width: 100%;
            height: 40px;
            padding: 0 10%;
            color: $midnightblue;
            border-bottom: 2px solid $late;    
        }
    }
    &__button:hover {
        cursor: pointer;
        &:hover {
            color: $warm-gray;
        }
    }  
}
.menuSlideDown {
    display: flex;
    transform: translate(0, 100%);
    opacity: 1;
    z-index: 1;
  } 

.dropdown:hover .dropdown-menu {
    display: flex;
    transform: translate(0, 100%);
    opacity: 1;
    color: $white;
    @include mobile {
        display: none;
    }
  } 

  .dropdown:focus .dropdown-menu {
    display: flex;
    transform: translate(0, 100%);
    opacity: 1;
    color: $white;
    @include mobile {
        display: none;
    }
  } 

.dropdown:focus .material-icons-outlined {
    transform: rotate(180deg);
}

.dropdown:hover .material-icons-outlined {
    transform: rotate(180deg);
}

.rotate {
    transform: rotate(180deg);
}

   
    
    