@import './styles/_reset.scss';
@import './styles/_variables.scss';

body {
    font-family: $main-font;
    color: $midnightblue;
    font-size: $font-size;
    margin: 0 auto;
    min-width: 360px;
}
html {
    scroll-behavior: smooth;
}