@import "../../styles/_mixins";
@import "../../styles/_variables";
    
.aboutMe{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "image subtitle" "image paragraph" "image button" "reference reference";
    justify-items: center;
    align-items: center;
    margin: 50px 0;
    
    &__image {
        grid-area: image;
        @include imageCircle;
        @include background-image-settings(scroll, 200%);
        overflow: hidden;
        
    }
    &__header {
        grid-area: header;
        @include title-font;
    }
    &__subtitle {
        grid-area: subtitle;
        justify-self: start;
        @include subtitle-font;
    }
    &__paragraph {
        grid-area: paragraph;
        width: 60%;
        max-width: 626px;
        justify-self: start;
        @include paragraph-font
    }
    &__button {
        grid-area: button;
        justify-self: end;
        margin-right: 10%;
        font-size: $large-body;
        padding-top: 6px;
        padding-bottom: 6px;
        &:hover{
            @include button-hover
        }
    }
    &__reference {
        grid-area: reference;
        &__header {
            @include flex(1, 0 , 100%);
            @include title-font;
            margin-bottom: 0;
        }
    }      
}
    
    