@import "../../styles/_mixins";
@import "../../styles/_variables";

.footer {
  @include flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: flex-end, $align-items: center, $gap-x: 0, $gap-y: 30px);
  height: $footer-height;
  background-color: $midnightblue;
  color: $white;
  padding: map-get($padding, 'main-side');
  
}