@import "../../styles/_mixins";
@import "../../styles/_variables";
@import "~react-image-gallery/styles/css/image-gallery.css";
    
.slider{
    width: 100%;
    min-height: 442px;
    @include flex-parent;
    margin: 106px 0;
    &__icon {
        @include flex(1, 0, 0);
        height: auto;
        text-align: center;
        font-size: 56px;
        color: #707070;
    }
    &__image {
        @include background-image-settings($background-attachment: scroll, $background-size: cover);
        height: 442px;
        width: 80%;
    }
}
    
.image-gallery-slide .image-gallery-image {
    height: 442px;
    width: $image-width;
}

.image-gallery-left-nav {
    left: -70px;
    
}

.image-gallery-right-nav {
    right: -70px;
}
   
.image-gallery-svg {
    stroke: $defaultButtonColor;
}
    
    